.library-course {
    display: grid;
    grid-template-columns: repeat(autofit, 1fr);
    grid-template-rows: 50px 1fr;
    

    background-color: cornflowerblue;

    &__title-icon {
        grid-row: 1/2;
    }


    &__arrow{
        grid-row: 1/2;
    }

    &__action {
        grid-row: 1/2;
    }

    &__description {
        grid-row: 2/3;
    }
} 