.schedule {
    display: grid;
    grid-template-rows: [space-one-s] 1fr [space-one-e title-s]  100px [title-e]repeat(5, 85px) [progress-s] 1fr [progress-e];
    grid-row-gap: 22px;

    align-items: center;
    justify-items: center;
    align-content: center;


    &__title {
        grid-row: title-s/title-e;

        color: aliceblue;
        font-family: $font-alegreya;

        @include border-left;
    }
}