.schedule {
    display: grid;
    grid-template-rows: 100px repeat(5, 85px) [progress-s] 76px [progress-e];
    grid-row-gap: 22px;

    align-items: center;
    justify-items: center;
    align-content: center;


    &__title {
        border-left: 1px solid $color-subtle-gray;
        padding-left: 30px;
        color: aliceblue;
        font-family: $font-alegreya;
    }
}